*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1920px;
    margin: 0 auto;
    padding-left:16px ;
    padding-right:16px ;
    /* url = 'https://clck.ru/32hXoQ' */
}
.wrapper{
    width: 750px;
    margin: 0 auto;
}

.fontt{
    font-size: 12px;
}


.height{
    margin-top: 150px;
}
.list{
    margin-left: 40px;
}
ul{
    margin-left: 40px;
}
.end{
    margin-bottom: 200px;
}
