*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block{
    margin: 30px;
    width: 200px;
    height:200px;
    background-color: red;
    animation-name: anim1;
    animation-duration: 5s;
}
@keyframes blink {
    
}